<!DOCTYPE html>
<html>
<head>
  <title>Office</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "/assets/styles/main" %>
  </head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>

  <script data-main="/assets/scripts/common" src="/assets/scripts/require.js"></script>
  <%= yield :footer_scripts %>
  </body>
</html>
